<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Home</title>
</head>
<body>
    <h1>FWI Prediction</h1>

    <form action="{{url_for('predict_datapoint')}}" method="POST">
        <input type="test" name="Temperature" placeholder="Temperature" required="required">
        <input type="test" name="RH" placeholder="RH" required="required"><br> 
        <input type="test" name="Ws" placeholder="Ws" required="required">
        <input type="test" name="Rain" placeholder="Rain" required="required">
        <input type="test" name="FFMC" placeholder="FFMC" required="required">
        <input type="test" name="DMC" placeholder="DMC" required="required">
        <input type="test" name="ISI" placeholder="ISI" required="required">
        <input type="test" name="Classes" placeholder="Classes" required="required">
        <input type="test" name="Region" placeholder="Region" required="required">

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <h2>
        The FWI prediction is {{results}}
    </h2>
</body>
</html>